@tailwind base;
@tailwind components;
@tailwind utilities;

.anim-opacity {
    animation: anim-opacity 0.6s both 0.1s;
}
@keyframes anim-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim-opacity-s {
  animation: anim-opacity 0.2s both;
}
@keyframes anim-opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}